<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Standout</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Load the static directory: see http://django-staticfiles.readthedocs.io/en/1.1/helpers/ -->
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="{{ STATIC_PREFIX }}css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}fonts/font-awesome/css/font-awesome.css">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="{{ STATIC_PREFIX }}css/style.css">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="#page-top">Care4ALL</a> </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about" class="page-scroll">About Me</a></li>
        <li><a href="#services" class="page-scroll">Projects</a></li>
        <li><a href="#portfolio" class="page-scroll">Tutorials</a></li>
        <li><a href="#testimonials" class="page-scroll">Resume</a></li>
        <li><a href="#contact" class="page-scroll">Contact</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text"> <span>Welcome from</span>
            <h1>Valery Marcel</h1>
            <p>“Your genuine action will explain itself, and will explain your other genuine actions.
              Your conformity explains nothing.” Ralph Waldo Emerson.
            </p>
            <a href="#about" class="btn btn-custom btn-lg page-scroll">About Me</a> </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="section-title text-center center">
      <h2>About Me</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6"> <img src="{{ STATIC_PREFIX }}img/about.png" class="w3-circle" alt="Me" style="width:500px; border-radius:50%;"> </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <h3>Welcome to my site!</h3>
          <p>I am a science anthousiast and always fascinated by the idea of conducting science across disciplines. In the past years,
	     I have explored many areas of studies including Physics, Computer Science, Machine Learning, Data Science, Business Analytics, Public Health, and Biology. 
	     In this process, I have realized that people in various field face similar problems and that borrowing ideas from one field of study can provide innovative 
	     solutions to problems in another field.</p>
          <p>I believe Innovation is achieved by thinking out of the box and approaching problems using unconventional methods. I hope browsing through some of my
	     projects will inspire you to think about ways your own skills can be useful in other disciplines. </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Services Section -->
<div id="services" class="text-center">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 section-title">
      <h2>Projects</h2>
      <hr>
      <p>These are some of the projects I am working on.</p>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h4><a href='/diseases/'>Disease Tracker</a></h4>
        <p>A web app I developed to track top killer diseases worldwide.
	    <div align="left">
		<p>Skills combined:</p>
	        <li>Python</li>
	        <li>Django Web development</li>
	        <li>Programming</li>
	        <li>Public Health awareness</li>
	        <li>Data Analysis/Visualization</li>
	    </div>
	</p>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-bullhorn"></i>
        <h4><a href='https://tiiqu.com/'>TiiQu</a></h4>
        <p>I am proud to be a collaborator on the TiiQu project, a Blockchain-based
           platform that aims to reshape the future of work by facilitating smart contract
           between individuals and industries around the world.
	    <div align="left">
		<p>Skills combined:</p>
		<li>Blockchain Technology</li>
		<li>AI-Recommedation Systems</li>
	    </div>
	</p>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-group"></i>
        <h4><a href='https://www.nature.com/articles/s41598-018-25132-1'>Protein Simulator</a></h4>
        <p>I developed a monte carlo simulation program in C++ to mimic
          how protein molecules in the human body interact to carry out various functions.
	    <div align="left">
                <p>Skills combined:</p>
                <li>Programming (C++, Python)</li>
                <li>Monte Carlo simulations</li>
		<li>Physics-Statistical mechanics</li>
		<li>Biology, Biochemistry</li>
            </div>
	</p>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-magic"></i>
        <h4><a href='/'>SAS Codes</a></h4>
        <p>A collection of SAS codes I wrote as a requirement for my
        certification as a SAS-Base Programmer.</p>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Section -->
<div id="portfolio">
  <div class="container">
    <div class="section-title text-center center">
      <h2>Blogs&Tutorials</h2>
      <hr>
      <p>Here are some tutorials I have created. Topics include SAS, Python, Time Series Analysis, Statistics for Public Health.</p>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <li><a href="#" data-filter="*" class="active">All</a></li>
            <li><a href="#" data-filter=".lorem">Python</a></li>
            <li><a href="#" data-filter=".dolor">SAS</a></li>
            <li><a href="#" data-filter=".adipiscing">Biostatistics</a></li>
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-3 col-lg-3 lorem">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="/blogs/timeseries" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Time Series with Python</h4>
              </div>
              <img src="{{ STATIC_PREFIX }}blogs/img/python.png" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 adipiscing">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="/blogs/biostats1" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Basic Biostatistics Concepts</h4>
              </div>
              <img src="{{ STATIC_PREFIX }}blogs/img/biostatistics.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 lorem">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="/blogs/python-map-apply" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Python Map-Apply</h4>
              </div>
              <img src="{{ STATIC_PREFIX }}blogs/img/python.png" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 lorem">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="/blogs/machinelearning1" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Machine Learning with Python-Classification</h4>
              </div>
              <img src="{{ STATIC_PREFIX }}blogs/img/python.png" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 adipiscing">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="/blogs/biostats2" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Comparing Sample Distributions</h4>
              </div>
              <img src="{{ STATIC_PREFIX }}blogs/img/biostatistics.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 dolor">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="/blogs/sas1" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Reading SaSData Sets</h4>
              </div>
              <img src="{{ STATIC_PREFIX }}blogs/img/sas.png" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 dolor">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="/blogs/sas2" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>SAS-Controlling Input-Output</h4>
              </div>
              <img src="{{ STATIC_PREFIX }}blogs/img/sas.png" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 lorem">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{{ STATIC_PREFIX }}img/portfolio/08-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Python</h4>
              </div>
              <img src="{{ STATIC_PREFIX }}blogs/img/python.png" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 adipiscing">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="/blogs/biostats3" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>A bit on normal distributions</h4>
              </div>
              <img src="{{ STATIC_PREFIX }}blogs/img/biostatistics.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 dolor">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="/blogs/sas3" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>SAS-Append and Concatenate</h4>
              </div>
              <img src="{{ STATIC_PREFIX }}blogs/img/sas.png" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 dolor">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="/blogs/sas4" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Accumulating Variables-SAS</h4>
              </div>
              <img src="{{ STATIC_PREFIX }}blogs/img/sas.png" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 lorem">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{{ STATIC_PREFIX }}img/portfolio/12-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Python</h4>
              </div>
              <img src="{{ STATIC_PREFIX }}blogs/img/python.png" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Resume Section -->
<div id="testimonials" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>Resume</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div id="testimonial" class="owl-carousel owl-theme">
            <p style="font-size:20px"><a href="#">Download Resume</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact Section -->
<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Get In Touch</h2>
      <hr>
      <p>If you would like to talk to me about anything at all, please drop me an email.</p>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <form name="sentMessage" id="contactForm" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="Name" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="Email" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-custom btn-lg">Send Message</button>
      </form>
      <div class="social">
        <ul>
	 <!-- check out brand icons here https://www.w3schools.com/icons/fontawesome_icons_brand.asp -->
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://github.com/nmmarcelnv"><i class="fa fa-github"></i></a></li>
          <li><a href="https://www.linkedin.com/in/valery-marcel/"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container text-center">
    <p>Copyright &copy; 2018 Care4ALL. Template from <a href="http://www.templatewire.com" rel="nofollow">TemplateWire</a></p>
  </div>
</div>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.1.11.1.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/bootstrap.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/SmoothScroll.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.counterup.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/waypoints.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/nivo-lightbox.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.isotope.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/jqBootstrapValidation.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/contact_me.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/owl.carousel.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/main.js"></script>
</body>
</html>
