
<html>

<head>

<title>The Biology Project</title>

<SCRIPT LANGUAGE="JavaScript">





function nameit(window) {



            self.name="main"

}









</SCRIPT>

<SCRIPT LANGUAGE="JavaScript">

<!--



var remote = null;

       function image() {



           remote = window.open('', 'image', 'width=220,height=340,resizable=yes');

           if (remote != null) {

           if (remote.opener == null) {

               remote.opener = self;

               }

           remote.location.href = "MS_program.html"

           remote.focus()

           }



       }



function MM_openBrWindow(theURL,winName,features) { //v2.0

  window.open(theURL,winName,features);

}

//-->

</SCRIPT>

<!--GEM META TAGS-->



<meta name="DC.package.begin" content="1" />

<meta name="DC.identifier" content="(type=URL)http://www.biology.arizona.edu/default.html" />

<meta name="DC.title" content="(lang=en)The Biology Project: an online interactive resource for learning biology." />

<meta name="DC.format" content="(scheme=IMT)(type=contentType)text/HTML" />

<meta name="GroupStart" content="1" />

<meta name="DC.publisher" content="(type=role)onlineProvider" />

<meta name="DC.publisher" content="(type=name)The Biology Project of The University of Arizona" />

<meta name="GroupEnd" content="1" />

<meta name="GroupStart" content="2" />

<meta name="DC.publisher" content="(type=role)publisher" />

<meta name="DC.publisher" content="(type=name)The Biology Project of the University of Arizona" />

<meta name="DC.publisher" content="(type=email)lapointe@u.arizona.edu " />

<meta name="DC.publisher" content="(type=contact)Madeleine Lapointe" />

<meta name="DC.publisher" content="(type=homePage)http://www.biology.arizona.edu/ml/ " />

<meta name="GroupEnd" content="2" />

<meta name="DC.type" content="(scheme=GEM)Unit of instruction" />

<meta name="GroupStart" content="3" />

<meta name="DC.subject" content="(scheme=GEM)(type=levelOne)Science" />

<meta name="DC.subject" content="(scheme=GEM)(type=levelTwo)Biology" />

<meta name="GroupEnd" content="3" />

<meta name="GroupStart" content="4" />

<meta name="DC.subject" content="(scheme=GEM)(type=levelOne)Science" />

<meta name="DC.subject" content="(scheme=GEM)(type=levelTwo)Chemistry" />

<meta name="GroupEnd" content="4" />

<meta name="GroupStart" content="5" />

<meta name="DC.subject" content="(scheme=GEM)(type=levelOne)Science" />

<meta name="DC.subject" content="(scheme=GEM)(type=levelTwo)Embryology" />

<meta name="GroupEnd" content="5" />

<meta name="GroupStart" content="6" />

<meta name="DC.subject" content="(scheme=GEM)(type=levelOne)Science" />

<meta name="DC.subject" content="(scheme=GEM)(type=levelTwo)Pharmacology" />

<meta name="GroupEnd" content="6" />

<meta name="GroupStart" content="7" />

<meta name="DC.creator" content="(type=namePersonal)Bill Grimes" />

<meta name="GroupEnd" content="7" />

<meta name="GroupStart" content="8" />

<meta name="DC.creator" content="(type=namePersonal)Rick Hallick" />

<meta name="GroupEnd" content="8" />

<meta name="GroupStart" content="9" />

<meta name="DC.creator" content="(type=namePersonal)Madeleine LaPoint" />

<meta name="GroupEnd" content="9" />

<meta name="GroupStart" content="10" />

<meta name="DC.creator" content="(type=namePersonal)Ken Williams" />

<meta name="GroupEnd" content="10" />

<meta name="GroupStart" content="11" />

<meta name="DC.creator" content="(type=namePersonal)Joanna K. Norman" />

<meta name="GroupEnd" content="11" />

<meta name="GroupStart" content="12" />

<meta name="DC.creator" content="(type=namePersonal)Dr. Carlos Enrique Pelezo" />

<meta name="GroupEnd" content="12" />

<meta name="GroupStart" content="13" />

<meta name="DC.creator" content="(type=namePersonal)Dr. Adolfo Rossier" />

<meta name="GroupEnd" content="13" />

<meta name="GroupStart" content="14" />

<meta name="DC.creator" content="(type=namePersonal)Kenna Mills" />

<meta name="GroupEnd" content="14" />

<meta name="GroupStart" content="15" />

<meta name="DC.creator" content="(type=namePersonal)Julio Miranda" />

<meta name="GroupEnd" content="15" />

<meta name="GroupStart" content="16" />

<meta name="DC.creator" content="(type=namePersonal)Nathan Hartvigsen" />

<meta name="GroupEnd" content="16" />

<meta name="GroupStart" content="17" />

<meta name="DC.creator" content="(type=namePersonal)Denice Warren" />

<meta name="GroupEnd" content="17" />

<meta name="GroupStart" content="18" />

<meta name="DC.creator" content="(type=namePersonal)Darin Goss" />

<meta name="GroupEnd" content="18" />

<meta name="GroupStart" content="19" />

<meta name="DC.creator" content="(type=namePersonal)Marcia Underwood" />

<meta name="GroupEnd" content="19" />

<meta name="GroupStart" content="20" />

<meta name="DC.creator" content="(type=namePersonal)Karin Dixon" />

<meta name="GroupEnd" content="20" />

<meta name="GroupStart" content="21" />

<meta name="DC.creator" content="(type=namePersonal)Elizabeth Willcott" />

<meta name="GroupEnd" content="21" />

<meta name="GroupStart" content="22" />

<meta name="DC.creator" content="(type=nameCorporate)The Biology Project at The University of Arizona" />

<meta name="GroupEnd" content="22" />

<meta name="DC.date" content="(scheme=ISO8601:1988)(type=recordCreated)2000-02-08T18:31:30-5:00" />

<meta name="DC.description" content="The Biology Project&#044; an interactive online                    resource for learning biology developed at The University                    of Arizona. The Biology Project is fun&#044; richly illustrated&#044;                    and tested on 1000s of students. It has been designed for                    biology students at the college and high school level&#044; but is                    useful for medical students&#044; physicians&#044; science writers&#044; and                    all types of interested people. " />

<meta name="GroupStart" content="23" />

<meta name="DC.identifier" content="(scheme=GEM)(type=SID)UArizona" />

<meta name="GroupEnd" content="23" />

<meta name="DC.subject" content="(type=keywords)Biochemistry,Immunology,Genetics,Toxicology,DNA" />

<meta name="DC.language" content="(scheme=Z39.53)(type=text)English,Spanish," />

<meta name="GroupStart" content="24" />

<meta name="DC.rights" content="(type=URL)http://www.biology.arizona.edu/the_biology_project/copyright.html" />

<meta name="DC.rights" content="(type=priceCode)0" />

<meta name="GroupEnd" content="24" />

<meta name="DC.package.end" content="1" />

<meta name="GEM.package.begin" content="1" />

<meta name="GroupStart" content="25" />

<meta name="GEM.cataloging" content="(type=application)GEMCat" />

<meta name="GEM.cataloging" content="(type=version)3.2" />

<meta name="GEM.cataloging" content="(type=name)Garry Forger" />

<meta name="GEM.cataloging" content="(type=email)gforger@u.arizona.edu" />

<meta name="GEM.cataloging" content="(type=homePage)http://www.u.arizona.edu/~gforger" />

<meta name="GroupEnd" content="25" />

<meta name="GEM.grade" content="(scheme=GEM)(type=grade)10,11,12" />

<meta name="GEM.grade" content="(scheme=GEM)(type=level)Adult/Continuing education,Higher education" />

<meta name="GroupStart" content="26" />

<meta name="GEM.audience" content="(scheme=GEM)(type=toolFor)Teachers" />

<meta name="GEM.audience" content="(scheme=GEM)(type=beneficiary)Students" />

<meta name="GroupEnd" content="26" />

<meta name="GEM.essentialResources" content="Internet Access and Browser" />

<meta name="GEM.pedagogy" content="(scheme=GEM)(type=grouping)Individualized instruction" />

<meta name="GEM.pedagogy" content="(scheme=GEM)(type=teachingMethods)Computer assisted instruction,Computer simulations,Learning modules,Tutorial programs" />

<meta name="GEM.pedagogy" content="(scheme=GEM)(type=assessment)Self evaluation" />

<meta name="GEM.package.end" content="1" />

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

</head>



<body bgcolor="#FDF5E6" background="dnabckgd2.gif" LINK=#0000FF VLINK=#0000FF alink="#0000FF">

<table width="406" border="1" align="center">

  <tr>

    <td valign="top" width="131" bgcolor="#CCCC99"><div align="left">

        <table width="131" border="0" cellpadding="2">

          <tr valign="bottom" align="center">

            <td height="15"><img src="home/activities.gif" alt="Activities" width="126" height="35" onClick="MM_openBrWindow('Descr_Act.html','Activities','resizable=yes,width=400,height=200')" /></td>

          </tr>

          <tr valign="top">

            <td align="top" bgcolor="#CCCC99"><div align="left"> <font size="-2" face="Verdana, Arial, Helvetica, sans-serif"><b><a href="cell_bio/cell_bio.html">Cell

                Biology</a></b></font> <font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><br />

                &nbsp;&nbsp;<a href="cell_bio/activities/cell_cycle/cell_cycle.html">Onion

                Root Tips</a><br />

                &nbsp;&nbsp;&nbsp;<a href="http://www.biologia.arizona.edu/" target="_blank"><i>in

                Spanish</i></a> <i><br />

                &nbsp;&nbsp;&nbsp;<a href="http://www.biologia-it.arizona.edu/">in Italian</a></i><br />

                </font><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><b><a href="chh/default.html">CHH</a><br />

                &nbsp;&nbsp;</b><a href="chh/activities/tobacco_smoke/sign_in.html">Tobacco

                Smoke <br />

                &nbsp;&nbsp;&amp; Lung Devel't</a><b><br />

                <a href="human_bio/human_bio.html">Human Biology</a></b> <br />

                &nbsp;&nbsp;<a href="human_bio/activities/karyotyping/karyotyping.html">Karyotyping</a><br />

                &nbsp;&nbsp; <i><a href="http://www.biologia.arizona.edu/" target="_blank">in

                Spanish</a></i>&nbsp;<br />

                &nbsp;<a href="human_bio/activities/blackett/introduction.html">DNA

                Activity</a> <br />

                &nbsp;&nbsp; <i><a href="http://www.biologia.arizona.edu/" target="_blank">in

                Spanish</a></i> </font><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><br />

                &nbsp;&nbsp;<a href="human_bio/activities/blackett2/overview.html">DNA

                Profiling<br />

                </a>&nbsp;&nbsp; <i><a href="http://www.biologia.arizona.edu/" target="_blank">in

                Spanish</a></i><a href="human_bio/activities/blackett2/overview.html"> </a><br />

                <b><a href="immunology/immunology.html">Immunology</a></b> <br />

                &nbsp;&nbsp;<a href="immunology/activities/AIDS2003/main.html">HIV/AIDS</a><br />

                &nbsp;&nbsp;<a href="immunology/activities/elisa/main.html">ELISA

                Assay</a><br />

                </font><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"> &nbsp;&nbsp;<a href="immunology/activities/western_blot/w_main.html">Western

                Blotting </a> </font>

                <p align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><a href="immunology/activities/elisa/main.html"><img src="graphics/elisa_small.gif" alt="Elisa Plate" width="107" height="70" border="0" align="center" /></a></font><br />

                  <i><font size="-2" face="Verdana, Arial, Helvetica, sans-serif">Elisa

                  plate </font></i></p>

              </div></td>

          </tr>

          <tr valign="middle">

            <td><img src="home/about.gif" alt="About Us" width="126" height="35" onClick="MM_openBrWindow('Descr_About.html','AboutUs','resizable=yes,width=400,height=200')" /></td>

          </tr>

          <tr>

            <td bgcolor="#CCCC99" height="221" valign="top"><p><font size="-2" face="Verdana, Arial, Helvetica, sans-serif"><a href="the_biology_project/about.html">About the BP<br />

                </a></font><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><a href="the_biology_project/history.html" target="_blank"><font size="-2">Project

                History</font></a><font size="-2"><br />

                </font></font><font size="-2" face="Verdana, Arial, Helvetica, sans-serif"><a href="the_biology_project/press.html" target="_blank">What

                People Say </a><br />

                <a href="the_biology_project/kudos.html" target="_blank">Kudos & Awards</a><br />

                <a href="the_biology_project/team.html" target="_blank">Project

                Team</a><br />

                <a href="the_biology_project/credits.html" target="_blank">Site

                Credits</a><br />

                <a href="the_biology_project/copyright.html" target="_blank">Copyright

                Statement</a><br />

                <a href="the_biology_project/linking.html" target="_blank">Linking to Site</a><br />

                <a href="the_biology_project/style_manual/default.html" target="_blank">BP

                Style Manual</a> <br />

                <a href="the_biology_project/instr_design/default.html" target="_blank">Instructional

                Design</a></font></p>

              <p><font size="-2" face="Verdana, Arial, Helvetica, sans-serif"><a href="http://abbs.arizona.edu/" target="_blank">Graduate

                Studies in The Life Sciences </a></font></p>

              <p><font size="-2" face="Verdana, Arial, Helvetica, sans-serif"><a href="http://bmcb.biology.arizona.edu/" target="_blank">Graduate

                Studies in Biochemistry and Molecular &amp; Cellular Biology</a></font></p></td>

          </tr>

        </table>

        <p><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><b><a href="biochemistry/biochemistry.html#activities" target="_parent"><br />

        </a></b></font></p>

      </div></td>

    <td valign="top" colspan="2" align="left" cellpadding="10"><p align="center"><img src="home/BioHead.jpg" alt="The Biology Project at The University of Arizona" width="406" height="114" border="0" onClick="MM_openBrWindow('Descr_BP.html','BPDescription','resizable=yes,width=430,height=300')" /><br />

        <a href="http://cbc.arizona.edu"><img src="/home/dept.gif" alt="The Depratment of Biochemistry and Molecular Biophysics, now part of Chemistry and Biochemstry" /></a><br />

        <span style="font-size:.85em;">Site Hosted by the <a href="http://www.mcb.arizona.edu/" target="_blank">Department of Molecular &amp; Cellular Biology</a></span></p>

      <p align="center"><a href="funding/default.html"><b><font size="+1">Support the Continuation

        of The Biology Project</font></b></a> </p>

      <center>

        <a href="javascript:;"><img src="home/tutorials.gif" alt="Problem Sets &amp; Tutorials" width="400" height="35" border="0" onClick="MM_openBrWindow('Descr_PST.html','','resizable=yes,width=420,height=250')" /></a>

      </center>

      <table width="406"  border="0" cellpadding="2">

        <tr>

          <td valign="top"><!--<b>In progress</b> : <br />

            Revision to make our learning materials accessible to people using

            assistive technologies.<br />-->

            <center>

              <font size="2"><a href="site.html"><b>Site Map</b></a></font>

            </center>

            <div align="left">

              <p><b><a href="biochemistry/problem_sets/aa/aa.html"><img src="graphics/L-histidineSm.jpg" alt="Molecular Structure of Histidine" width="108" height="151" vspace="5" border="0" align="right" /></a><a href="biochemistry/biochemistry.html">Biochemistry</a></b> basic chemistry, metabolism, enzymes, energy, & catalysis,

                large molecules, photosynthesis, pH & pKa, clinical correlates

                of pH, vitamins B12 and Folate, and regulation of carbohydrate

                metabolism.(<a href="http://www.biologia.arizona.edu/DEFAULT.HTML" target="_blank"><i>en

                espa&ntilde;ol</i></a> - <a href="http://www.projeto-biologico.arizona.edu/" target="_blank"><i>no

                portugu&ecirc;s</i></a>) <!--a href="http://www.projeto-biologico.arizona.edu/-  from

                North America"--> <!--a href="http://www.ufpe.br/projeto_biologico/" - from

                South America--> 

              </p>

            </div>

            <blockquote>

              <div align="left"><a href="biochemistry/problem_sets/aa/aa.html"><img src="graphics/new.gif" alt="New" width="28" height="11" border="0" /><br />

                Chemistry of Amino Acids</a> learn the structure and chemistry

                of the amino acids that are found within proteins.</div>

            </blockquote>

<div align="left"><b><a href="cell_bio/cell_bio.html">Cell Biology</a></b> studying cells, mitosis, meiosis, the cell cycle, prokaryotes,

              eukaryotes,

              & viruses (<a href="http://www.biologia.arizona.edu/" target="_blank"><i>en espa&ntilde;ol</i></a><i> - <a href="http://www.biologia-it.arizona.edu" target="_blank">in italiano</a></i>) </div>

            <p> <b><a href="chh/default.html">Chemicals & Human Health</a></b> basic toxicology, lung toxicology, environmental tobacco smoke &

              lung development, kidneys & metals</p>

            <p><b><a href="developmental_bio/developmental_bio.html">Developmental

              Biology</a></b> developmental mechanisms</p>

            <p><b><a href="human_bio/human_bio.html">Human Biology</a></b> DNA

              forensics, karyotyping, genetics, blood types, reproduction, sexually

              transmitted diseases (<a href="http://www.biologia.arizona.edu/" target="_blank"><i>en

              espa&ntilde;ol</i></a>)</p>

            <p><b><a href="immunology/immunology.html">Immunology</a></b>, HIV,

              the ELISA assay, Western blotting analysis and case studies designed

              for advanced students. </p>

            <p><b><a href="mendelian_genetics/mendelian_genetics.html">Mendelian

              Genetics</a></b> monohybrid cross, dihybrid cross, sex-linked

              inheritance  (<i><a href="http://www.biologia.arizona.edu/" target="_blank">en

              espa&ntilde;ol</a> - <a href="http://www.biologia-it.arizona.edu/" target="_blank">in italiano</a></i>) </p>

            <p><b><a href="molecular_bio/molecular_bio.html">Molecular Biology</a> </b>nucleic acids, genetics of prokaryotes, genetics of eukaryotes,

              recombinant DNA. (<a href="http://www.biologia.arizona.edu/DEFAULT.HTML" target="_blank"><i>en espa&ntilde;ol</i></a> -<a href="http://www.biologia-it.arizona.edu/" target="_blank"><i>in

              italiano</i></a>) </p>

            <p align="center"><a href="statfront.cfm"><b><!--Current Site Statistics--></b></a></p>

            <hr /></td>

        </tr>

        <tr>

          <td><p align="center"><font size=2><a href="the_biology_project/the_biology_project.html">The

              Biology Project</a> <br />

              <a href="http://cbc.arizona.edu/" target="_blank">Department

              of Biochemistry &amp; Molecular Biophysics</a><br />

              </font><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><a href="http://cos.arizona.edu/" target="_blank">College

              of Science</a></font><br />

              <font size=2><a href="http://www.arizona.edu/" target="_blank">The

              University of Arizona</a> <br />

              Revised: July 2004 <br />

              <a href = "http://www.biology.arizona.edu/contact">Contact the Development

              Team</a> </font></p>

            <p align="center"><font size=2>http://www.biology.arizona.edu <br />

              All contents copyright &copy; 2001-02-03-04<br />

              All rights reserved.</font></p></td>

        </tr>

      </table></td>

    <td valign="top" width="142" bgcolor="#CCCC99"><table width="130" border="0" cellpadding="2">

        <tr>

          <td valign="top"><img src="home/precollege.gif" alt="PreCollege" width="126" height="35" onClick="MM_openBrWindow('Descr_PreC.html','PreCollege','width=430,height=220')" /></td>

        </tr>

        <tr>

          <td valign="top"><p align="left"><font size="-2" face="Verdana, Arial, Helvetica, sans-serif">For teachers:</font><br />

              <b><font size="-2" face="Verdana, Arial, Helvetica, sans-serif"><a href="http://biology.arizona.edu/sciconn/lessons2/lessons.html" target="_blank">Lesson

              Plans and Activities</a></font></b> <font size="-2" face="Verdana, Arial, Helvetica, sans-serif">by

              Middle &amp; High School Teachers in our <a href="http://biology.arizona.edu/sciconn/default.htm" target="_blank">General

              Biology Program for Science Teachers</a></font> </p>

            <p align="left"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><a href="http://biology.arizona.edu/sciconn/CoursesforTeachers.htm" target="_blank">Summer

              Courses for Biology Teachers</a></font></p></td>

        </tr>

        <tr>

          <td valign="top"><div align="left"> <img src="home/YE_head2.gif" alt="Young Explorers" width="126" height="35" onClick="MM_openBrWindow('Descr_YE.html','YoungExplorers','width=450,height=350')" /></div></td>

        </tr>

        <tr bgcolor="#CCCC99">

          <td height="184" valign="top"><p align="center"><a href="http://insected.arizona.edu/manduca/" target="_blank"><img src="home/Manduca2.gif" alt="The Manduca Project" width="107" height="99" border="0" /></a></p>

            <p align="left"><b><font size="1" face="Verdana, Arial, Helvetica, sans-serif"><a href="" target="_blank">Manduca

              Project<br />

            </a></font></b><font face="Verdana, Arial, Helvetica, sans-serif"><font size="-2">Look

              under

              &quot;Activities&quot; for K-8 lesson plans in: </font><font color="#FF6600" size="-2"><b><br />

              </b></font></font><font size="-2" face="Verdana, Arial, Helvetica, sans-serif">Science &amp; Math<br />

              Music &amp; Art<br />

              Language<br />

              Word Puzzles <br />

              Songs <br />

              Posters <br />

              Coloring books </font></p>

            <b><font color="#FF6600" size="-2" face="Verdana, Arial, Helvetica, sans-serif">K-12

            Outreach Program<br />

            <br />

            </font></b><font size="-2" face="Verdana, Arial, Helvetica, sans-serif"><!--<a href="http://student.biology.arizona.edu/sciconn/" target="_blank">Science

              Connection</a><br>

              <br>--> 

            <!--

              <a href="http://biotech.biology.arizona.edu/" target="_blank"> --> 

            

            <a href="http://biotech.bio5.org/" target="_blank"> The

            BIOTECH Program </a> <br />

            <br />

            <a href="http://marinediscovery.arizona.edu/" target="_blank">Marine

            Discovery</a><br />

            <br />

            <a href="http://insected.arizona.edu/default1.html" target="_blank">Center

            for Insect Science</a> </font></td>

        </tr>

      </table>

      <p align="left"></p>

      <p align="left"></p>

      <p align="left"></p></td>

  </tr>

</table>

<p>&nbsp;</p>

</body>

</html>


