
<html>

<head>

<title>Learn Epidemic and Disease Modeling</title>

<SCRIPT LANGUAGE="JavaScript">

function nameit(window) {

            self.name="main"
}

</SCRIPT>

<SCRIPT LANGUAGE="JavaScript">

<!--



var remote = null;

function image() {

  remote = window.open('', 'image', 'width=220,height=340,resizable=yes');

  if (remote != null) {

    if (remote.opener == null) {

        remote.opener = self;

    }

    remote.location.href = "MS_program.html"

    remote.focus()
  }
}


function MM_openBrWindow(theURL,winName,features) { //v2.0

  window.open(theURL,winName,features);

}

//-->

</SCRIPT>

<!--GEM META TAGS-->

<meta name="DC.package.begin" content="1" />


{% load static %}
</head>


<body bgcolor="#FDF5E6" background="dnabckgd2.gif" LINK=#0000FF VLINK=#0000FF alink="#0000FF">


<table width="406" border="1" align="center">

  <tr>

    <!-- The left Side Starts Here?-->
    <td valign="top" width="131" bgcolor="#CCCC99">
      <div align="left">

        <table width="131" border="0" cellpadding="2">

          <tr valign="bottom" align="center">
		          <!-- The left Activities-->
            <td height="15"><img src="{% static 'epilearn/img/epidemiology.jpg' %}" alt="#" width="126" height="80" /></td>

          </tr>


          <tr valign="middle">
		          <!-- The left About Us -->
          </tr>

            <!-- removed stuff from the left side here -->
        </table>
      </div>
    </td> <!-- The left Side Ends Here?-->


     <!-- The Middle Side Starts Here?-->
    <td valign="top" colspan="2" align="left" cellpadding="10"><p align="center"> 

	<img src="{% static 'epilearn/img/SIRmodel.gif' %}" alt="EpiLearn" width="450" height="338" border="0" /><br />
	
	<a href="/blogs/SIRmodel">Click Here to Learn More about the SIR model</a> <br />
        <a href="#">Enter model parameters below to see how the model changes</a> <hr> 
        

      <table width="406"  border="0" cellpadding="2">

        <tr>

          <td valign="top">

		<form method="post">
                    {% csrf_token %}
            	    <!-- render the form as paragraph-->
            	    {{ form.as_p }} 
            	    <button type="submit" style="background-color: #4CAF50; font-size: 16px;">Click Here to generate the plot</button>
        	</form>

                {% if result == None %}
        		<!--img src="{% static 'epilearn/img/SIRmodel.png' %}" width="450" height="338" alt="" -->
    		{% else %}
       			<img src="{% static 'epilearn/img/SIRmodel.png' %}" width="450" height="388" alt="" -->
    		{% endif %}


	    <hr>

            <blockquote>
		<!-- put text here to show as block quotes -->
            </blockquote>

	<!-- start block comment
 
	<div align="left"><b><a href="#"><img src="{% static 'epilearn/img/HowisHIVandAIDStransmitted.jpg' %}" alt="HIV/AIDS" width="100" height="100" vspace="5" border="0" align="right" /></a>
		<a href="#">HIV/AIDS</a></b> <br>
		What you need to know about HIV, <br>
		where it came from, <br>
		most affected parts of the world, <br>
		how you can help.
		<hr>
        </div>

	<div align="left"><b><a href="#"><img src="{% static 'epilearn/img/vector_borne_diseases.jpg' %}" alt="Malaria Mosquito" width="100" height="100" vspace="5" border="0" align="right" /></a>
                <a href="#">Malaria</a></b> <br>
                Malaria as an example of a vector-borne disease, <br>
                transmission, treatment, <br>
                control, statistics, <br>
                <hr>
        </div>

 	end block comment -->

        <tr>

          <td><p align="center"><font size=4><a href="\">My Hope Page</a> <br />

              <a href="https://www.linkedin.com/in/valery-marcel/" target="_blank">LinkedIn</a><br />

              </font><font face="Verdana, Arial, Helvetica, sans-serif" size="4"><a href="https://github.com/nmmarcelnv" target="_blank">Github</a></font><br />


              All rights reserved.</font></p></td>

        </tr>

      </table>
    </td>



    <td valign="top" width="142" bgcolor="#CCCC99"><table width="130" border="0" cellpadding="2">

        <tr>
		<!-- empty -->

        </tr>

        <tr>

          <td valign="top"><div align="left"> <img src="{% static 'epilearn/img/networks.jpg' %}" alt="Epidemic Networks" width="126" height="80" /></div></td>

        </tr>

        <tr bgcolor="#CCCC99">

            </font></b><font size="-2" face="Verdana, Arial, Helvetica, sans-serif">

        </tr>

      </table>

      <p align="left"></p>

      <p align="left"></p>

      <p align="left"></p></td>

  </tr>

</table>

<p>&nbsp;</p>

</body>

</html>
